<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Search</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<div class = "navbar" id="navbar">
    <a href="/">Home</a>
    <a href="/create">Create</a>
    <a href="/filter">Filter</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="shop card rounded-start mb-4 dropdown" style="margin-right:10px;" id="sop" th:each="i : ${products_from_search}">
                <div class="shop card-body text-left">
                    <div class="sh-brand m-auto">
                        <a href="#"th:text="'Название:' + ${i.getName}"></a>
                    </div>
                    <div class="sh-price m-auto">
                        <p th:text="'Цена:' + ${i.getPrice}"></p>
                    </div>
                    <div class="sh-but mt-2">
                        <a th:href="@{/details/{id}(id=${i.getId()})}" ><button type="button" class="btn btn-primary">Detail</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>