<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<div class = "navbar" id="navbar">
    <a class="active" href="/">Home</a>
    <a href="/product/create">Create</a>
    <div sec:authorize="!isFullyAuthenticated()">
        <a th:href="@{/login}">Log in</a>
        <a href="/registration">Sign up</a>
    </div>
    <form sec:authorize="isFullyAuthenticated()" th:action="@{/logout}" method="post">
        <input class="btn btn-secondary" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="container">
    <form th:action="@{'product/filter'}" method="post">
        <div class="form-group">
            Category
            <label for="category">Choose a bus:</label>
            <select class="form-control" name="category" id="category" >
                <option th:each="i : ${category}" th:value="${i.getId}" th:text="${i.getName()}"></option>
            </select>
        </div>
        <div class="form-group">
            Bus
            <label for="brand">Choose a bus:</label>
            <select class="form-control" name="brand" id="brand" >
                <option th:each="i : ${brand}" th:value="${i.getId}" th:text="${i.getName()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="active"><input type="checkbox" id="active" name="active">Active</label>
        </div>
        <div class="form-group">
            <label for="priceFirstRange">Min
                <input class = "form-control" type="text" id="priceFirstRange" name="priceFirstRange">
            </label>
            <label for="priceSecondRange">Max
                <input class = "form-control" type="text" id="priceSecondRange" name="priceSecondRange">
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary mt-2">Filter</button>
        </div>
    </form>
    <form th:action="@{'product/search'}" method="post">
        <div class="form-group">
            <label for="name">Name or Surname to search: </label>
            <input class="form-control" type="text" name="name" id="name">
            <button class="btn btn-primary mt-2">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Active</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Detail</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${product}">
            <td scope="row" th:text="${i.getId()}"></td>
            <td th:text="${i.getName()}"></td>
            <td th:text="${i.getPrice()}"></td>
            <td th:text="${i.getDescription()}"></td>
            <td th:text="${i.isActive()}"></td>
            <td th:text="${i.getCategory().getName()}"></td>
            <td th:text="${i.getBrand().getName()}"></td>
            <td><a th:href="@{/product/details/{id}(id=${i.getId()})}" class="btn btn-primary">Detail</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container mt-5">
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="j : ${category}">
            <td scope="row" th:text="${j.getId()}"></td>
            <td th:text="${j.getName()}"></td>
            <td><a th:href="@{/category/details/{id}(id=${j.getId()})}" class="btn btn-primary">Detail</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="k : ${brand}">
            <td scope="row" th:text="${k.getId()}"></td>
            <td th:text="${k.getName()}"></td>
            <td><a th:href="@{/brand/details/{id}(id=${k.getId()})}" class="btn btn-primary">Detail</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>