<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:if="${message!=null}" th:text="${message}"></div>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Username:<input class = "form-control" type="text" name="username" id = "username"/>
            </label>
        </div>

        <div class="form-group">
            <label for="password"> Password: <input class = "form-control" type="password" name="password" id = "password"/>
            </label>
        </div>
        <div class="form-group">
            <input class = "btn btn-primary" type="submit" value="Sign In"/>
        </div>
        <a href="/registration">If you don't have an account</a>
    </form>
</div>
</body>
</html>